*.o
benchmarklaunchbox/benchmarklaunchbox
benchmarkmerge/benchmarkmerge
benchmarkscan/benchmarkscan
benchmarksegreduce/benchmarksegreduce
benchmarksegsort/benchmarksegsort
benchmarksort/benchmarksort
testlaunchbox/testlaunchbox

